test_openai.py
result.txt
app-old-one.py

retrieval/*.pkl
rerieval/__pycache__
rerieval/faiss_index

pqock_env

orchestrator/__pycache__

models/__pycache__

data/__pycache__

core/__pycache__

.vscode

.pytest_cache

.gradio

__pycache__