test_openai.py
result.txt
app-old-one.py

retrieval/*.pkl
rerieval/__pycache__
rerieval/faiss_index

pqock_env

orchestrator/__pycache__
orchestrator/agent-old.py
orchestrator/workflow-old.py

models/__pycache__

data/__pycache__

core/__pycache__

scraper/web_scraper-old.py

.vscode

.pytest_cache
test_openai.py

.gradio

__pycache__